@using System.Linq
@model ArticleViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>3DSHOOTER.COM - @Model.Title</title>
    <meta name="description" content="@Model.Abstract">
    <link href="/dist/app/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/dist/app/images/favicon.png">
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50278600-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
    
    @Html.Partial("../Shared/_SlimHeader.cshtml")
    
    <article id="articleMain">
        <div id="articleBackOverlay" style='background-image:url("@Model.HeaderImageSrc")'></div>
        <section id="articleMainHeader">
        <header>
            <h1>@Model.Title</h1>
            <h2>von @Model.Author, @Model.Date</h2>
        </header>
         </section>
         <section id="article-body">
             @Html.Raw(Model.Content)
         </section>
       
    </article>
    <div class="footerArticle">
            <p>Copyright 1998 - 2016 F. Hötzinger Klingerfeldstr. 2a 94550 Künzing Mail: <a href="mailto:flo@3dshooter.com">flo@3dshooter.com</a> Twitter:<a href="https://twitter.com/3dshootercom">@@3dshootercom</a></p>
            </div>
</body>

</html>