@using System.Linq
@model ArticleViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>3DSHOOTER.COM - @Model.Title</title>
    <meta name="description" content="@Model.Abstract">
    <link href="/dist/app/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/dist/app/images/favicon.png">
</head>

<body>
    
    <div id="articleLogoRowWrapper">
        <div id="articleLogoRow">
            <div class="logo">
                <svg width="100" height="37">
        <image xlink:href="/dist/app/images/3ds.svg" src="/dist/app/images/3ds.svg" width="100" height="37" />
        </svg>
            </div>
            <div class="articleLogoRowItem">
                <a href="mailto:flo@3dshooter.com">Kontakt</a>
            </div>
            <div class="articleLogoRowItem">
                <a href="https://twitter.com/3dshootercom" target="blank">Twitter</a>
            </div>
        </div>
    </div>
    
    <article id="articleMain">
        <div id="articleBackOverlay" style='background-image:url("@Model.HeaderImageSrc")'></div>
        <section id="articleMainHeader">
        <header>
            <h1>@Model.Title</h1>
            <h2>von @Model.Author, @Model.Date</h2>
        </header>
         </section>
         <section id="article-body">
             @Html.Raw(Model.Content)
         </section>
       
    </article>
    <div class="footerArticle">
            <p>Copyright 1998 - 2016 F. Hötzinger Klingerfeldstr. 2a 94550 Künzing Mail: <a href="mailto:flo@3dshooter.com">flo@3dshooter.com</a> Twitter:<a href="https://twitter.com/3dshootercom">@@3dshootercom</a></p>
            </div>
</body>

</html>