@using System.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model FrontPageModel
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>

<head>
    <title>3DSHOOTER.COM</title>
    <meta name="description" content="Ein Magazin für den mündigen Videospieler - bestens kompatibel mit den Teenagern der 90er Jahre">
    <link href="dist/app/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/app/images/favicon.png">
</head>

<body>
    <div class="headerArticles">
        <section class="grid">
             
            <div class="majorHeaderArticle" style="background-image: url('@Model.NumberOne.ImageSrc');">
                <div class="dimmer">
                    <div class="headerTitle">
                        <a href="artikel/@Model.NumberOne.Id/@Model.NumberOne.Title"><h1>@Model.NumberOne.Title</h1>
                        <h2>@Model.NumberOne.Text</h2>
                        </a>
                    </div>
                </div>
            </div>

            <div class="minors">
                <section class="grid">
                    <div class="minorHeaderArticle" style="background-image: url('@Model.NumberTwo.ImageSrc');">
                        <div class="dimmer">
                            <div class="headerTitle">
                                 <a href="artikel/@Model.NumberTwo.Id/@Model.NumberTwo.Title"><h1>@Model.NumberTwo.Title</h1>
                                 <h2>@Model.NumberTwo.Text</h2></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="grid">
                     <div class="minorHeaderArticle" style="background-image: url('@Model.NumberThree.ImageSrc');">
                        <div class="dimmer">
                            <div class="headerTitle">
                                <a href="artikel/@Model.NumberThree.Id/@Model.NumberThree.Title"><h1>@Model.NumberThree.Title</h1>
                                 <h2>@Model.NumberThree.Text</h2></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </section>

    </div>
    <div id="main">
        <div class="logoRow">
            <div class="logo">
                <svg width="190" height="70">
        <image xlink:href="dist/app/images/3ds.svg" src="dist/app/images/3ds.svg" width="190" height="70" />
        </svg>
            </div>
            <div class="logoRowItem">
                <a href="mailto:flo@3dshooter.com">Kontakt</a>
            </div>
            <div class="logoRowItem">
                <a href="https://twitter.com/3dshootercom" target="blank">Twitter</a>
            </div>
        </div>
          @foreach (var article in Model.OtherArticles)
          {
              <div class="articlesRow">

            <div class="articlePic" style="background-image: url('@article.ImageSrc');">
                <div class="articlePicTitle"><span>@article.Title</span></div>
            </div>
            <div class="articleText">
                <p>@article.FullText</p>
            </div>
        </div>
          }
        
        <div class="footer">
            <p>Copyright 1998 - 2016 F. Hötzinger Klingerfeldstr. 2a 94550 Künzing Mail: <a href="mailto:flo@3dshooter.com">flo@3dshooter.com</a> Twitter:<a href="https://twitter.com/3dshootercom">@@3dshootercom</a></p>
            @if (SignInManager.IsSignedIn(User))
{
   
    <form style="text-align:center" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        
         
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
           
         
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
           
       
    </form>
}
            </div>
    </div>
</body>

</html>